/* 
* Place css styles below.
*/
body{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	background-color: #2c3e50;
}
header{
	position: fixed;
	width: 100%;
	top: 0;
}
header nav{
	width: 100%;
	background-color: #3498db;
	text-align: center;
}
header nav ul{
	margin: 0;
	padding: 4px;
}
header nav ul li{ 
	list-style-type: none; 
	display: inline;
	margin-left: 8px;
	margin-right: 8px;
}
header nav ul li a{ 
	color: #f1c40f;
	font-weight: 700;
}
#wrapper {
	margin:auto;
	width:960px;
	margin-top: 36px;
}


.clear {
	clear: both;
}

.error {
	padding: 0.75em;
	margin: 0.75em;
	border: 1px solid #990000;
	max-width: 400px;
	color: #990000;
	background-color: #FDF0EB;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
}

p,li {
	color: #555555;
	font-size: 16px;
	line-height: 1.5em;
}

a {
	color: #e74c3c;
	text-decoration: none;
}

form input {
	border: 1px solid #999999;
	border-bottom-color: #cccccc;
	border-right-color: #cccccc;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	margin: 2px;
}

table {width:98%; text-align:left; border:1px solid #DDDDDD; font-size:12px; color:#ecf0f1;background:#2c3e50; margin-bottom:10px;}
table th {background-color:#2980b9; border:1px solid #2980b9; padding:3px 6px; font-weight:normal; color:#ecf0f1;}
table tr td {border:1px solid #2c3e50;  color:#ecf0f1; padding:5px 6px;}
table tr.alt td {border:1px solid #34495e; background-color:#34495e;}
table tr:hover td {border:1px solid #95a5a6; background-color:#95a5a6;}

.pagination li {display:inline; margin-right:5px;}
#logo{
	width: 100%;
	background-size: 100%;
}

section#welcome{
	padding: 20px;
	background-color: #2c3e50;
	color: #ecf0f1 !important;
}
section#welcome h1,
section#welcome h2{
	margin:0;
	text-align: center;
}
section#welcome h1{
	font-size: 2em;
}
section#welcome h2{
	font-size: 1.6em;
	font-weight: 400;
}
section#welcome p{
	color: #ecf0f1;
}
section#news{
	padding: 20px;
	background-color: rgba(0,0,0,0.7);
}
section#news article{
	padding: 20px;
	padding-bottom: 40px;
	background-color: rgba(236, 240, 241,0.7);
	border-radius: 10px;
	margin-bottom: 20px;
	position: relative;
}
section#news article p,
section#news article ul{
	padding: 0;
	margin: 0;
}
section#news article ul{
	padding-left: 20px;
}
section#news article time{
	position: absolute;
	right: 20px;
}

footer{
	height: 100px;
	background-color: rgba(0,0,0,0.7);
}

/*
 *	Monsters
 *  List 
 */

section#monsters{
	background-color: white;
}
section#monsters #addform,
section#monsters #list{
	padding: 20px;
}
/* list view*/
section#monsters #list .app_version{
	width: 80px;
}
section#monsters #list .monster_image{
	padding: 0;
	width: 36px;
	line-height: 8px;
}
section#monsters #list .monster_image img{
	width: 44px;
}
section#monsters #list .grade{
	width: 70px;
}
section#monsters #list .property_name{
	width: 50px;
}
section#monsters #list .role_name{
	width: 60px;
}
/* game view */

section#monsters #list #view_game{
	background-color: #CCAA50;
	width: 790px;
	padding: 20px;
}
section#monsters #list .monsters_list_game_icon{
	display: inline-block;
	width: 96px;
	height: 96px;
	margin-bottom: 3px;
	text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
}

/*
 *	Monster
 */

section#monster{
	padding: 20px;
	background-color: white;
}
section#monster #img{
	border-color: #B59C48;
	border-spacing: 5px;
	border-style: solid;
	width: 96px;
	height: 96px;
	display: inline-block;
}
section#monster #img img{
	width: 96px;
	height: 96px;
}
section#monster #info{
	padding: 20px;
	margin-right: 200px;
	display: inline-block;
}
section#monster #info h1{
	font-size: 2em;
}
section#monster #info h1,
section#monster #info h2,
section#monster #info hr{
	margin: 0;
	padding: 0;
}
section#monster #skills,
section#monster #stats,
section#monster #runes,
section#monster #family{
	margin-bottom: 20px;
}
section#monster #skills h2,
section#monster #stats h2,
section#monster #runes h2,
section#monster #family h2{
	margin: 0;
	padding: 0;
}
section#monster #skills,
section#monster #stats{
	display: inline-table;
	width: 457px;
	height: 350px;
}
section#monster #skills{
	margin: 0;
}
section#monster #skills .skill{
	margin: 1px;
	margin-bottom: 2px;
	padding: 4px;
	background-color: #2C3E50;
	color: white;
}
section#monster #skills .skill div{
	margin: 0;
	padding: 0;
	display: inline-table;
	width: 220px;
}
section#monster #skills .skill div table{
	margin: 0;
	padding: 0;
	height: 80px;
	width: 223px;
}
section#monster #skills .skill div thead > tr,
section#monster #skills .skill div tbody{
	display:block;
}
section#monster #skills .skill div tbody{
	height: 80px;
	overflow: auto; 
}
section#monster #skills .skill div tbody td{
	height: auto;
	padding: 0;
	margin: 0;
}
section#monster #skills .skill div tbody td.skill_level{
	width: auto;
}
section#monster #skills .skill div tbody td.skill_upgrade_bonus{
	width: 168px;
}



section#monster #stats table{
	height: 302px;
}
section#monster #stats thead > tr,
section#monster #stats tbody{
	display:block;
}
section#monster #stats tbody{
	height: 302px;
	overflow: auto; 
}
section#monster #stats .stat_grade{ width: 70px; }
section#monster #stats .stat_level{ width: 36px; }
section#monster #stats .stat_hp{ width: 64px; }
section#monster #stats .stat_atk{ width: 52px; }
section#monster #stats .stat_def{ width: 52px; }
section#monster #stats .stat_spd{ width: 52px; }

section#monster #runes{

}

section#monster #family{

}
section#monster #family .family_member{
	width: 450px;
	background-color: #2C3E50;
	color: white;
	height: 50px;
	display: inline-block;
}
section#monster #family .family_member .fmember_image{
	width: 50px;
	height: 50px;
	background-size: 50px;
	display: inline-table;
}
section#monster #family .family_member .fmember_info{
	display: inline-table;
	vertical-align: top;
}
section#monster #family .family_member .fmember_info a{
	color: #2ecc71;
}