/* 
* Place css styles below.
*/
body{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	background-color: #2c3e50;
}
#wrapper {
	margin:auto;
	width:960px;
}


.clear {
	clear: both;
}

.error {
	padding: 0.75em;
	margin: 0.75em;
	border: 1px solid #990000;
	max-width: 400px;
	color: #990000;
	background-color: #FDF0EB;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
}

p,li {
	color: #555555;
	font-size: 16px;
	line-height: 1.5em;
}

a {
	color: #e74c3c;
	text-decoration: none;
}

form input {
	border: 1px solid #999999;
	border-bottom-color: #cccccc;
	border-right-color: #cccccc;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	margin: 2px;
}

table {width:98%; text-align:left; border:1px solid #DDDDDD; font-size:12px; color:#ecf0f1;background:#2c3e50; margin-bottom:10px;}
table th {background-color:#2980b9; border:1px solid #2980b9; padding:3px 6px; font-weight:normal; color:#ecf0f1;}
table tr td {border:1px solid #2c3e50;  color:#ecf0f1; padding:5px 6px;}
table tr.alt td {border:1px solid #34495e; background-color:#34495e;}
table tr:hover td {border:1px solid #95a5a6; background-color:#95a5a6;}

.pagination li {display:inline; margin-right:5px;}
#logo{
	width: 100%;
	background-size: 100%;
}

section#welcome{
	padding: 20px;
	background-color: #2c3e50;
	color: #ecf0f1 !important;
}
section#welcome h1,
section#welcome h2{
	margin:0;
	text-align: center;
}
section#welcome h1{
	font-size: 2em;
}
section#welcome h2{
	font-size: 1.6em;
	font-weight: 400;
}
section#welcome p{
	color: #ecf0f1;
}
section#news{
	padding: 20px;
	background-color: rgba(0,0,0,0.7);
}
section#news article{
	padding: 20px;
	padding-bottom: 40px;
	background-color: rgba(236, 240, 241,0.7);
	border-radius: 10px;
	margin-bottom: 20px;
	position: relative;
}
section#news article p,
section#news article ul{
	padding: 0;
	margin: 0;
}
section#news article ul{
	padding-left: 20px;
}
section#news article time{
	position: absolute;
	right: 20px;
}

footer{
	height: 100px;
	background-color: rgba(0,0,0,0.7);
}

/*
 *	Monster 
 */
section#monsters{
	background-color: white;
}
section#monsters #addform,
section#monsters #list{
	padding: 20px;
}
section#monsters #list .app_version{
	width: 80px;
}
section#monsters #list .monster_image{
	padding: 0;
	width: 36px;
}
section#monsters #list .monster_image img{
	width: 44px;
}
section#monsters #list .grade{
	width: 70px;
}
section#monsters #list .property_name{
	width: 50px;
}
section#monsters #list .role_name{
	width: 60px;
}